*,::before, ::after{
  box-sizing: border-box;
  margin: 0;
}

/* Logo */
.logo img{
  width: 23%;
  background-color: #fff;
}

/* Navbar Menu */
.navigation {
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right;
  z-index: 2;
  position: fixed;
}

.nav > a{
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  padding-right: 67px;
}

.nav{
  display: flex;
  flex-direction: row;
}

.navigation label{
  display: none;
}

/* Homescreen */
.home{
  height: 100%;
  position: absolute;
  width: 100%;
}

.section {
  position: relative;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.image{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.image .section-text{
  text-shadow: 1px 1px #000;
  text-align: left;
  position: absolute;
  bottom: 14rem;
  margin-left: 6rem;
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;
  width: 40%;
}

.section-text h2{
  font-family: 'Oswald', sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

/* Sub-Menu Screen */
.grid.gridhistory{
  width: 95%;
  grid-gap: 20rem 10rem;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  align-items: stretch;
}

.grid{
  height: 100%;
  width: 100%;
  margin: 0px 3rem;
  top: 6rem;
  grid-gap: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  position: absolute;
}

.card-details{
  position: absolute;
  background: #fff;
  border: none;
  box-shadow: 2px 2px 6px 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  text-align: center;
  width: 250px;
}

.card-details h2{
  color: #fff;
}

.card{
  display: flex;
  margin: auto;
  flex-direction: column;
  padding-top: 20px;
}

.card, .container{
  top: 1rem;
  width: 100%;
  height: 49%;
}

.textcontainer{
  background: #fff;
  border: none;
  box-shadow: 2px 2px 6px 6px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  text-align: center;
  width: 88%;
  height: 105%;
  transition: transform .3s;
}

.textcontainer:hover, .card-details:hover{ 
  transform: translateY(5px);
  box-shadow: 2px 2px 26px 0px rgba(155, 153, 153, 0.3);
}

.hide{
  display: none;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .container {
  transform: rotateY(180deg);
}

.card-details, .flip-details {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.history-flip{
  padding : 2rem 2rem 15rem !important;
}

.card-flip{
  padding : 0rem 0 18rem;
  background-color: #6b6b6b;
}

.card-details {
  background-color: #bbb;
  color: black;
}

.flip-details {
  background-color: #bbb;
  color: #686868;;
  transform: rotateY(180deg);
  padding: 2rem;
}

.flip-details h2{
  font-weight: 400;
  overflow: hidden;
  width: 100%;
  height: 10rem;
  font-weight: 400;
  text-overflow: ellipsis;
}

.readmore{
  background-color: inherit;
  border: none;
  color: #414141;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 15px;
}

.card-text{
  padding: 34px;
  position: absolute;
  color: #fff;
  text-shadow: 1px 1px #000;
}

.card-text h1{
  color: black;
  text-shadow: none;
}

.card-text hr{
  margin: 10px;
}

/* Details Screen */
.info{
  line-height: 4rem;
  margin: auto;
  width: 50%;
  color: white;
  top: 55rem;
  position: relative;
}

.title{
  color: white;
  padding-top: 17rem;
  width: 81%;
  display: block;
  margin: auto;
  position: relative;
  font-size: 3rem;
  text-transform: uppercase;
  text-shadow: 1px 1px #000;
}

.info h1{
  font-weight: 100;
  text-transform: capitalize;
  display: inline;
}

.info .info-title{
  font-size: 3rem;
  font-weight: 700;
}

.info h1:last-child{
  float: right;
}

.description{
  font-size: 2rem;
  width: 100%;
  padding: 0px 13rem 6rem;
  color: white;
  position: absolute;
  top: 180%;
  overflow-wrap: break-word;
}

.description h1{
  font-weight: 500;
  line-height: 10rem;
}

/* Ships Screen */
.content-title {
  color: #fefefe;
  text-align: center;
  position: relative;
  top: -1.3rem;
  width: 100%;
  background-color: grey;
  height: 7rem;
  border-radius: 20px 20px 0 0;
  padding-top: 20px;
}

.content-title h1{
  font-weight: 400;
}

.secondary-content {
  position: relative;
  top: -1rem;
  text-align: justify;
  margin: 30px;
}

.secondary-content h2{
  font-weight: 500;
}

.secondary-content .readmore{
  padding: 33px 0 0;
  text-shadow: 1px 1px #ffdfdf;
}

@media (max-width: 1024px){
  .logo img{
    width: 30%;
  }

  .card-details h2 {
    font-size: 1.2rem;
  }

  .card-text {
    padding: 0;
  }

  .info {
    line-height: 3rem;
    width: 60%;
    top: 43rem;
  }

  .image .section-text {
    bottom: 4rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 768px){

  .grid, .grid.gridhistory{
    grid-template-columns: repeat(2, 1fr);
  }

  .grid.gridhistory{
    grid-gap: 20rem 3rem !important;
  }

  .grid {
    grid-gap: 2rem 3rem !important;
}

  .card-details h2 {
    font-size: 1.2rem;
  }

  .card-text {
    padding: 0;
  }

  .info {
    line-height: 2rem;
    width: 60%;
    top: 43rem;
  }

  .info h1 {
    font-size: 1.3rem;
  }

  .info {
    line-height: 3rem;
    top: 39rem;
  }

  .description {
    font-size: 1.2rem;
    padding: 0px 7rem 6rem;
    top: 212%;
  }

  .navigation .links{
    display: none;
  }

  .navigation label{
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: .3s;
    transition-property: color;
  }

  .navigation label:hover{
    color: #fff;
  }

  .navigation .close-btn{
    display: none;
  }

  .navigation .menu-btn{
    color: #fff;
  }

  .nav{
    top: 3.1rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 2rem;
    line-height: 4rem;
  }
}

@media (max-width: 500px){
  .logo img {
    width: 43%;
  }

  .info h1 {
    font-size: .8rem;
  }

  .title{
    font-size: 1.5rem;
  }

  .grid, .grid.gridhistory{
    grid-template-columns: repeat(1, 1fr);
  }

  .flip-details h2 {
    height: 3rem;
    font-weight: 100;
    font-size: 1rem;
  }

  .history-flip h2 {
    height: 10rem;
  }
    
  .info {
    line-height: 3rem;
    margin: 20px 2rem;
    top: 39rem;
    width: 74%;
  }

  .readmore {
    font-size: 1rem;
    padding: 2px;
  }

  .description {
    font-size: 1rem;
    width: 90%;
    padding: 12px 0rem 5rem 2rem;
    top: 178%;
  }

  .image .section-text {
    bottom: 4rem;
    font-size: 1rem;
    width: 50%;
  }

  .nav{
    top: 3.1rem;
    position: absolute;
    display: flex;
    flex-direction: column;
    right: -2rem;
    line-height: 4rem;
  }

  .navigation {
    padding: 30px 42px;
  }

  .grid {
    margin: 0px 0.5rem;
  }
}